* {
    margin: 0;
    padding: 0;
}

.container {
    z-index: -1;
    background-color: gray;
}

.wrapper {
    z-index: 1;
    max-width: 75%;
    margin: 0 auto;
}

.header {
    padding-top: 10px;
}

.btn-draw {
    display: none;
    margin-left: 30px;
}

.btn-draw.visible {
    display: inline;
}

#graph-canvas {
    margin-top: 10px;
    border: 1px solid black;
    z-index: 2;
    background-color: rgb(165, 174, 174);
}