* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    z-index: -1;
    background-color: gray;
}

.wrapper {
    z-index: 1;
    max-width: 75%;
    margin: 0 auto;
}

.header {
    min-width: 100%;
    height: 55px;
    background-color: rgba(81, 79, 79, 0.584);
}

.header__container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modes__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.modes__item {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding: 0px 10px;
}

.modes__item-1 {
    border-left: 1px solid black;
}

.modes__item:hover {
    background-color: gray;
    transition: 1s;
}

.draw-select {
    height: 30px;
    font-size: 15px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

button {
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
}

.btn-draw {
    display: none;
    margin-left: 10px;
}

.visible {
    display: inherit;
}

.btn-draw.visible {}

.biparGraph {
    display: flex;
    align-items: center;
}

.inputs-graph {
    margin-left: 10px;
}

.inputs-graph input {
    height: 13px;
    width: 30px;
}

.inputs-graph input:focus {
    outline: none;
}

#aValue {
    margin-bottom: 2px;
}

.bip-btn {
    margin-left: 10px;
}

.libr-graphs_configs {
    margin-left: 10px;
}

.configs__item {
    transform: translateY(-2000%);
    display: none;
}

.configs__item.visible {
    display: inherit;
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.configs_input {
    width: 40px;
}

#graph-canvas {
    border: 1px solid black;
    z-index: 2;
    background-color: rgb(165, 174, 174);
}